<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <center>
        <h1>Profile Page</h1>
        <%-include('common/header')%>
        <p>name:<%= user.name %></p>
        <p>email:<%= user.email %></p>
        <p>city:<%= user.city %></p>

        <ul>
            <% user.skills.forEach((item)=>{%>
                <li><%=item%></li>
            <% })%>

        </ul>
    </center>
   
    
</body>
</html>